/.emacs.desktop
/.emacs.desktop.lock
/.last-package-update-day
/.session
/custom.el
/eln-cache/
/elpa-28.2/
/history
/lsp-debug.el
/site-packages/
/transient/
/undo-fu-session/
/.ccls-cache/
/auto-save-list/
/blink-search.db
/bookmarks
/cnfonts/
/custom.el~
/eaf/
/elpa-27.2/
/elpa-30.0/
/pyim/
/recentf
/rime/
/var/
/whisper.el/
/projects
/screenshots/
/tramp
/url/
/tree-sitter/
